# Version constraints for pip-installation.
#
# This file doesn't install any packages. It specifies version constraints
# that will be applied if a package is needed.
#
# When pinning something here, please provide an explanation of why.  Ideally,
# link to other information that will help people in the future to remove the
# pin when possible.  Writing an issue against the offending project and
# linking to it here is good.


# futures is not valid for Python 3, and will cause dependency
# conflicts in tox if not constrained here, possibly because only the
# most recent versions of futures declare this.
futures ; python_version < "3"


# NOTE: The following allows us to run "make upgrade" under Python 3 and get dependencies
# that work for Python 2.

# A dependency of pytest.  Pytest doesn't constrain it and 6.0.0 onward
# only works with python 3
more-itertools<6.0.0

# Constrained for Python 2 support
astroid<2.0.0

# Constrained for Python 2 support
edx-lint<1.4.0
